body {
    font-family: "Lato", sans-sarif;
    font-weight: 400;
    // font-size: 16px;
    line-height: 1.7;
    color: $color-black;
    padding: 3rem;
    
}

.headingPrimary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;

    &-main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 2.5rem;
        animation: moveInLeft 2s ease-out;
    
    }
    
    &-sub {
        display: block;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 2.5rem;
        animation: moveInRight 2s ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    letter-spacing: 2px; 
    color: $color-grey-dark
}


.heading-tertiary {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 2.5rem;
   
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}