.header {
    height: 95vh;
    position: relative;
    background-image: url(../../img/books.jpg);
    background-size: cover;
    background-position: top;

 
    &__logoBox {
        position: absolute;
        top: 2rem;
        right: 3rem;
    }
    
    &__logo {
        height: 3.5rem;
    }
    
    &__textBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0%, 5%);
        text-align: center;

    }
 }


 
.section-about {
   background-color: $color-grey-light-1;

   padding: 15rem 0 25rem 0;
   margin-top: -6rem;
   // background-image: linear-gradient(
   //    to right bottom,
   //    rgba(#bfdbf7, .8),
   //    rgba(#0361c0, .8)   
   // );

   
}

.section-services {
   padding: 13rem 0 20rem 0;
   background-image: linear-gradient(
      to right bottom,
      rgba(#dfdfdf, .7),
      rgba(#e0e0e0, .7)
   ),
   url(../../img/services-cover.jpg);
   background-size: cover;


}

.section-testimonials {
   background-color: $color-grey-light-1;
   padding: 13rem 0 5rem 0;

}

.section-companies {
   background-color: $color-grey-light-1;
   padding: 3rem 0 5rem 0;

}

.section-contact {
   background-color: white;
   padding: 25rem 0;

}

.footer {
   background-color: #001B2E;
   padding: 25rem 0;

}





