@import '../main';


.profile {

  
    &__img {
        position: absolute;
        width: 60%;
        left: 10rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    }
}

// .paragraph {
//     color: $color-white;
// }

// .heading-tertiary {
//     color: $color-white;
// }