@import '../main';


.composition {
    // position: relative;

    &__company {
        width: 50%;
        opacity: .5;
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);;
    }
}

